<!DOCTYPE html>
<html lang="en">
<head>
  <title>RoboNeuro preview page</title>
  <link rel="stylesheet" media="all" href="application.css" />
</head>
<body>
  <header class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
      <img src="neurolibre_logo.svg" width="48" height="48" />
    </a>
  </nav>
  </header>

  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8">
        <center><img style="height:35vh;" src="https://github.com/neurolibre/brand/blob/main/png/preview_magn.png?raw=true"></center>
        <br>
        <p>You can use this page to test that your NeuroLibre notebooks and accompanying PDF compile properly before submitting.</p>
        <h4> NeuroLibre notebooks <h4>
        <p>Please ensure that your repository meets the minimum requirements described in <b><a href="https://docs.neurolibre.com/en/latest/" target="_blank">NeuroLibre book organization </a></b>guidelines.</p>
        <ul>
          <li> Enter the location of your Git repository (e.g., https://github.com/neurolibre/template or neurolibre/template)</li>
          <li> Optionally, you can provide a <code>branch name</code>, <code>tag</code> or <code>commit sha</code>.</li>
          <li> Enter your email address and click the <code>Compile preprint</code> button. We will send you the results when the build is completed. </li>
        </ul>
        <h4> NeuroLibre PDF <h4>
        <p>This selection will compile a PDF based on your <code>paper.md</code> and <code>paper.bib</code> files. For more information on how to format your paper, please <a href="https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography">take a look at our docs.</a></p>
        <ul>
          <li> Enter the location of your Git repository (e.g., https://github.com/neurolibre/template or neurolibre/template)</li>
          <li> Optionally, you can provide a <code>branch name</code>, <code>tag</code> or <code>commit sha</code>.</li>
          <li> Click the <code>Compile preprint</code> button. Your PDF will be rendered.</li>
        </ul>
        <br>
        <form id="preview-form" action="/preview" accept-charset="UTF-8" method="post">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="repository">Preprint repository name or URL</label>
                <input placeholder="e.g. https://github.com/neurolibre/template or neurolibre/template" class="form-control" type="text" name="repository" id="repository" />
              </div>
              <div class="col">
                <label for="branch">Git branch, tag or commit (optional)</label>
                <input placeholder="HEAD" class="form-control" type="text" name="branch" id="branch" />
              </div>
              <div class="col">
              <label for="email">Email address:</label>
              <input placeholder="e.g. user@mail.com" class="form-control" type="text" name="email" id="email" />
            </div>
            </div>
          </div>
          <div class="form-group">
            <label for="journal">Compile:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="journal" id="nlnb" value="NeuroLibre notebooks" checked>
              <label class="form-check-label" for="inlineRadio2">NeuroLibre notebooks</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="journal" id="nlpaper" value="NeuroLibre paper">
            <label class="form-check-label" for="inlineRadio1">NeuroLibre PDF</label>
          </div>
          </div>
          <div class="form-actions">
            <input type="submit" name="commit" value="Compile preprint" class="btn" data-disable-with="Update profile" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
