<!DOCTYPE html>
<html lang="en">
<head>
  <title>Whedon preview page</title>
  <link rel="stylesheet" media="all" href="application.css" />
</head>
<body>
  <header class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">
      <img src="logo_medium.png" width="48" height="48" />
      <img src="joss.svg" />
    </a>
  </nav>
  </header>

  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col-lg-8">
        <h3>Whedon paper preview service</h3>
        <p>You can use this page to test that your JOSS or JOSE paper compiles properly before submitting.
          Enter the location of your Git repository that contains your <code>paper.md</code> file, and pick
          which journal you'd like a preview for. For more information on how to format your paper, please
          <a href="https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography">take a look at our docs</a>.</p>
        
        <p>You can also use <a href="https://joss.readthedocs.io/en/latest/submitting.html#github-action">this
          GitHub Action</a> to compile your paper automatically or 
          <a href="https://joss.readthedocs.io/en/latest/submitting.html#docker">this Docker image</a> to generate the PDF locally.
        </p>
        <form id="preview-form" action="/preview" accept-charset="UTF-8" method="post">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label for="repository">Paper repository address</label>
                <input placeholder="e.g. https://github.com/arfon/fidgit" class="form-control" type="text" name="repository" id="repository" />
              </div>
              <div class="col">
                <label for="branch">Custom branch (optional)</label>
                <input placeholder="e.g. joss-paper-branch" class="form-control" type="text" name="branch" id="branch" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="journal">Compile paper for:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="journal" id="journaljoss" value="joss" checked>
              <label class="form-check-label" for="inlineRadio1">JOSS</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="journal" id="journaljose" value="jose">
              <label class="form-check-label" for="inlineRadio2">JOSE</label>
            </div>
          </div>
          <div class="form-actions">
            <input type="submit" name="commit" value="Compile paper" class="btn" data-disable-with="Update profile" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
